.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:135px;
	background-color:#4AFF46;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #4AFF46;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

@media only screen and (min-width:320px) and (max-width:480px) and (max-width:800px){
    .float{
		right: 20px;
	};
}